/* Desktop First */
/* 1280px+ */
.photo-grid__item {
  max-width: 284px;
  display: block;
  object-fit: contain;
  object-position: center center;
  margin: 0;
  padding: 0;
}

/* 1024px - 1279px */
@media screen and (max-width: 1279px) {
  .photo-grid__item {
    max-width: 300px;
  }
}

/* 768px - 1023px */
@media screen and (max-width: 1023px) {
  .photo-grid__item {
    max-width: 352px;
  }
}

/* 320px - 767px */
@media screen and (max-width: 767px) {
  .photo-grid__item {
    max-width: 288px;
  }
}
