/* Desktop First */
/* 320px - 1280px+ */
.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* 320px - 767px */
@media screen and (max-width: 767px) {
  .lead__title {
    /*max-width: 288px;*/
    /*max-width: calc((100vw - 20.48px) / 1.04);*/
    /*font-size: 40px;*/
    font-size: calc((100vw - 320px) / (768 - 320) * (96 - 40) + 40px);
    /*line-height: 44px;*/
    line-height: calc((100vw - 320px) / (768 - 320) * (100 - 44) + 44px);
  }
}
