/* Desktop First */
/* 1280px+ */
.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 56px 0 0 0;
}

/* 320px - 1279px */
@media screen and (max-width: 1279px) {
  .lead__title {
    padding: 48px 0 0 0;
  }
}

/* 320px - 767px */
@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
