/* Desktop First */
/* 768px - 1280px+ */
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 320px - 767px */
@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
  }
}
