/* Desktop First */
/* 1280px+ */
.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin: 0;
  padding: 0 0 26px 0;
}

.place__paragraph:last-child {
  padding: 0;
}

/* 1024px - 1279px */
@media screen and (max-width: 1279px) {
  .place__paragraph {
    padding: 0 0 27px 0;
  }
}

/* 768px - 1023px */
@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 0 25px 0;
  }
}
