/* Desktop First */
/* 1280px+ */
@media screen and (min-width: 1280px) {
  .intro {
    padding-left: 148px;
    padding-right: 148px;
  }
}

/* 320px - 1279px */
.intro {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
