/* Desktop First */
/* 1280px+ */
.cover__background {
  min-width: 1184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration-line: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.cover__background::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.cover__background:hover::before {
  opacity: 0.8;
}

/* 320px - 1279px */
@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: calc(100vw / 1.6);
  }
}
