/* Desktop First */
/* 1024px - 1280px+ */
.intro__title {
  max-width: 690px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  margin: 0;
  padding: 92px 0 0 0;
}

/* 768px - 1023px */
@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
    padding: 88px 0 0 0;
  }
}

/* 320px - 767px */
@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding: 64px 0 0 0;
  }
}
